/*-- 全局 --*/
*{padding:0; margin:0;}
body{background:#fff;font-family:'lucida grande',tahoma,helvetica,arial,'bitstream vera sans',sans-serif; font-size:12px; text-align:center;}
input,textarea{font-size:12px; padding:3px;}
table,td{border:0; padding:0; border-collapse:collapse; font-size:12px;}
select{font-size:12px;}
div{line-height:19px; text-align:left; word-break:break-all; word-wrap:break-word;}
img{border:0;}
a{color:#284450;text-decoration: none;}a:hover{color:#36c;}
.l{float:left;}.r{float:right; clear:right;}.c{clear:both;}
.bann{width:100%;float:left;background-image:url(/images/bz/wsbm/student/ban_bg.gif);height:98px}
.lab{width:100%;float:left;padding:4px;margin:15px 0px 15px;
font-weight:bold;
background-color:#e6f3ff;
border-bottom:#a3b9db 1px solid;}

.table_data_big {
    width: 100%;
    border-collapse: collapse;
    border: 0px;	
	margin:0;
}
.table_data_big td {
  padding: 0;	
  line-height:150%;
  vertical-align:top;
}
.table_data_big .title {
padding:4px;
font-weight:bold;text-align:left;
background-color:#ebedee;color:#203048;
padding-left:10px;
}

.table_data {
    width: 100%;
    border-collapse: collapse;
    border: 0px;	
	margin:2;
}
.table_data td {
  padding: 3px;	
  line-height:150%;
  vertical-align:top;
  border-left:#ebedee 1px solid;
  border-right:#ebedee 1px solid;
  border-bottom:#ebedee 1px solid;
}
.table_data .td1 {
  border-top:#ebedee 1px solid;
font-weight:bold;text-align:right;
background-color:#f6fafd;color:#787e87;
width:15%;
}
.table_data .title1 {
font-weight:bold;text-align:right;
background-color:#f6fafd;color:#787e87;
width:15%;
}

.table_data .title4 {
font-weight:bold;text-align:right;
background-color:#f6fafd;color:#787e87;
width:15%;
}
.table_data .title5 {
font-weight:bold;text-align:right;
background-color:#f6fafd;color:#787e87;
width:25%;
}
.table_data .title6 {
font-weight:bold;text-align:right;
background-color:#f6fafd;color:#787e87;
width:30%;
}

.table_data .title2 {
width:40%;
}
.table_data .title3 {
font-weight:bold;
background-color:#f6fafd;color:#787e87;
}
.bszztitle {
width:8%;
font-weight:bold;text-align:center;
background-color:#f6fafd;color:#787e87;
}
.gkxxtitle {
width:12%;
font-weight:bold;text-align:right;
background-color:#f6fafd;color:#787e87;
}

.table_data .titleleft {
font-weight:bold;text-align:left;
background-color:#f6fafd;color:#787e87;
}
.table_data .titleh {
font-weight:bold;text-align:center;
background-color:#f6fafd;color:#787e87;
}
.table_data .titlered {
font-weight:bold;text-align:right;
background-color:#f5f7f9;color:#C91E14;
}
.table_data .titlehred {
font-weight:bold;text-align:center;
background-color:#f5f7f9;color:#C91E14;
}


.table_data_zhuce {
    width: 100%;
    border-collapse: collapse;
    border: 0px;	
	margin:2;
  border-top:#C0CFDC 1px solid;	
  border-left:#C0CFDC 1px solid;
}

.table_data_zhuce1 {
    width: 240px;
    border-collapse: collapse;
    border: 0px;	
	margin:2;
  border-top:#C0CFDC 1px solid;	
  border-left:#C0CFDC 1px solid;
}
.table_data_zhuce td {
  padding: 3px;	
  line-height:150%;
  vertical-align:top;
  border-right:#C0CFDC 1px solid;
  border-bottom:#C0CFDC 1px solid;
}
.table_data_zhuce .title1 {
width:120px;
font-weight:bold;text-align:right;
background-color:#f6fafd;color:#787e87;
}

.table_data_zhuce1 td {
  padding: 3px;	
  line-height:150%;
  vertical-align:top;
  border-right:#C0CFDC 1px solid;
  border-bottom:#C0CFDC 1px solid;
}
.table_data_zhuce1 .title1 {
width:120px;
font-weight:bold;text-align:right;
background-color:#f6fafd;color:#787e87;
}

.table_news {
    width: 95%;
    border-collapse: collapse;
    border: 0px;	
	margin:0 auto;
}
.table_news td {
  padding: 3px;	
  line-height:150%;
  vertical-align:top;
  border-bottom:#d8dbde 1px dotted;
  background-image:url(/images/bz/wsbm/student/dot.gif);
  background-repeat:no-repeat;
  padding-left:8px;
}
.table_news .date {
color:#6d838c;
font-size:11px;
padding-right:5px;
}


.tal{text-align:left;}.tar{text-align:right;}.tac{text-align:center;}
.c0,a.c0{color:#000; font-family:Arial;}
.c6,a.c6{color:#666; font-family:Arial;}
.c9,a.c9{color:#999; font-family:Arial;}
.cc,a.cc{color:#ccc; font-family:Arial;}
.cd,a.cd{color:#ddd; font-family:Arial;}
.ce,a.ce{color:#eee; font-family:Arial;}a.ce:hover{color:#fff; font-family:Arial;}
.co,a.co{color:#f90; font-family:Arial;}
.cr,a.cr{color:#f00; font-family:Arial;}
.cf,a.cf{color:#fff; text-decoration:none; font-family:Arial;}a.cf:hover{color:#fff; text-decoration:underline; font-family:Arial;}
.sl,a.sl{color:#369; font-family:Arial;}a.sl:hover{color:#36c; font-family:Arial;}
.cl,a.cl{color:#3c0; font-family:Arial;}a.cl:hover{color:#36c; font-family:Arial;}
.sl2,a.sl2{color:#369; text-decoration:none; font-family:Arial;}a.sl2:hover{color:#36c; text-decoration:underline; font-family:Arial;}
a.sl2_r{display:block; padding:0 5px; color:#369; text-decoration:none;}a.sl2_r:hover{color:#fff; background:#369;}
.ql,a.ql{color:#36f; font-family:Arial;}a.ql:hover{color:#369; font-family:Arial;}
.ql2,a.ql2{color:#8692A2; text-decoration:none; font-family:Arial;}a.ql2:hover{color:#369; font-family:Arial;}
.qh,a.qh{color:#c33; font-family:Arial;}a.qh:hover{color:#c36; font-family:Arial;}
.gb,a.gb{color:#B2BACE; font-weight:bold; text-decoration:none;}a.gb:hover{color:#369; font-weight:bold; text-decoration:none;}
.gbh,a.gbh{color:#D01E3B; font-weight:bold; text-decoration:none;}
.gbj,a.gbj{color:#fc0; font-weight:bold; text-decoration:none;}
a.c_ql{color:#B9C1D5; text-decoration:none; font-weight:bold;}
.b1c{border:1px solid #ccc;}
.f11{font-size:11px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.cp{cursor:pointer;}
.dn{display:none;}

.p1{padding:1px;}
.p5{padding:5px;}
.p7{padding:7px;}
.p10,.gw{padding:10px 0px 2px 0px;}
.p10_sec{padding:3px 50px 5px 50px;}
.p10_sec1{padding:3px 100px 5px 100px;}
.list_faq{padding:10px 0px 0px 0px;}

.linelr{border-left:#909790 1px solid;}
.txtred{
	color:#CC0000

}

.sec_title{color:#068ec7;font-weight:bold;}
.p20{padding:20px;}
.p1_0{padding:1px 0;}
.p010{padding:0 10px;}
.p30{padding:30px;}
.pl60 {padding-left:60px;}
.pl100{padding:30px 130px;}

.m30{margin:30px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.m15{margin:15px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt30{margin-top:30px;}
.ml10{margin-left:10px;}
.ml12{margin-left:12px;}
.ml20{margin-left:20px;}
.m0_10{margin:0 10px;}
.m0_15{margin:0 15px;}
.m0_20{margin:0 40px;}
.m0_21{margin:0 15px;}
.m0_20x{margin:-10px 0 5px 10px;}
.m0_25{margin:0 25px;}

.w65{width:65px;}
.w80{width:80px;}
.w100{width:100px;}
.w120{width:120px;}
.w265{width:265px;}
.w300{width:300px;}


.h10{height:10px;}
.h15{height:15px;}
.h20{height:20px;}
.h50{height:50px;}
.h100{height:100px;}
.h200{height:200px;}
.h300{height:300px;}

/*-----------------------按钮输入框类 START-------------------------------*/
.it1,.it2{background:#fff; border:1px solid #bebebe; color:#333; }
.cjit1,.cjit2{background:#fff; border:1px solid #bebebe; color:#333; height:12px;size: 5;text-align: center;}


.rb1,.rb2{
	background:url(/images/bz/wsbm/ymPromptMessage/btn_bg1.gif) no-repeat;
	width:80px;height:27px;line-height:21px;
	font-size:12px;color:#183C94;border:0;margin:10px 1
}
.rb3{
	background:url(/images/bz/wsbm/ymPromptMessage/btn_bg2.gif) no-repeat;
	width:350px;height:27px;line-height:21px;
	font-size:12px;color:#183C94;border:0;margin:10px 1
}
.txt_but{
	border:#6fa2c9 1px solid;
	background-color:#d2e8f9;
	padding:1px 5px 1px 5px;
	color:#1a567a;
	background-image:url(/images/bz/wsbm/student/txt_but_bg.gif);
}

.btn_c7{
	background-image: url(/images/bz/wsbm/student/104.gif);
	border-width:0px;
	height: 22px;
	line-height:22px;
	width: 64px;
	text-align:center;
	font-size: 12px;
	color:#284450;
	cursor: hand;
	cursor: pointer;	
}
/*-----------------------按钮输入框类 END-------------------------------*/


/*-----------------------灰色folder START-------------------------------*/
.bqc_bg{height:29px; overflow:hidden; background:url(/images/bz/wsbm/student/bqc_bg.gif) top repeat-x; margin-bottom:10px; font-size:14px;font-weight:bold;color:#105c87;}
.bqc_bg_sec{height:25px; overflow:hidden; margin-bottom:10px;background:url(/images/bz/wsbm/student/bqc_bg_sec.gif) top repeat-x;font-size:12px;font-weight:bold;color:#696969; }

.bqc_on,.bqc_of,.bqc_of_mo,.bqc_of1,.bqc_of1_mo{float:left; width:115px; height:23px; padding-top:6px; overflow:hidden; text-align:center; background:url(/images/bz/wsbm/student/bqc_on.gif) no-repeat;}
.bqc_of,.bqc_of_mo{background:url(/images/bz/wsbm/student/bqc_of.gif) no-repeat; cursor:pointer;}

.bqc_of_mo,.bqc_of1_mo{color:#36c; text-decoration:underline;}
.bqc_of_none{float:left; width:50px; height:23px; padding-top:6px; overflow:hidden; }

.bqc_on1{float:left; width:115px; height:23px;  padding-top:6px; overflow:hidden; text-align:center; background:url(/images/bz/wsbm/student/bqc_on1.gif) no-repeat;}
.bqc_on2{float:left; width:115px; height:23px;  padding-top:6px; overflow:hidden; text-align:center; background:url(/images/bz/wsbm/student/bqc_on2.gif) no-repeat;}

.bqc_of1{background:url(/images/bz/wsbm/student/bqc_of2.gif) no-repeat; cursor:pointer;}
.bqc_of2{background:url(/images/bz/wsbm/student/bqc_of2.gif) no-repeat; cursor:pointer;}

.bqc_on_sec,.bqc_of_sec,.bqc_of_mo_sec,.bqc_of1_sec,.bqc_of1_mo_sec{float:left; width:100px; height:25px; padding-top:6px; overflow:hidden; text-align:center; background:url(/images/bz/wsbm/student/bqc_on_sec.gif) no-repeat;}
.bqc_of_sec,.bqc_of_mo_sec{background:url(/images/bz/wsbm/student/bqc_of_sec.gif) no-repeat; cursor:pointer;}
/*-----------------------灰色folder END----------------------------------*/



/*-- suggest图层 --*/
.sgt_o{position:absolute; display:none; border:1px solid #98B1C8; background:#fff; padding:2px;}
.sgt_of{width:200px; height:20px; border-bottom:1px solid #eee; padding:2px 5px; color:#666; background:#fff;}
.sgt_on{width:200px; height:20px; border-bottom:1px solid #eee; padding:2px 5px; color:#000; background:#F2F6FB;}

/*-- 提示图层 --*/
.tsk{border:1px solid #FFBA43; background:#FDFFCE; padding:10px;}
.xxkarea{width:555px; border:solid 1px #e2c822; margin:0px 0 10px 25px; background:#fff9d7; padding:15px; *padding-bottom:5px;!important}
.xxkarea p{float:left; padding:0 0 0 15px; margin:0px;}
.tip3_below_white{float:left; width:330px; height:81px; overflow:hidden; background:url(http://img.kaixin001.com.cn/i2/tip3_below_white.gif) no-repeat; padding-top:17px; padding-left:20px;}

/*-- 确认Email --*/
.qrem{font-size:14px; margin:30px;}
.qrem div{line-height:25px;}
.secondmenu_on{font-size:13px;color:#068ec7; font-family:Arial;font-weight:bold;cursor:pointer;}
.secondmenu_off{font-size:13px;color:#369; font-family:Arial;cursor:pointer;}

.rightfont{font-size:13px;color:#369; font-family:Arial;font-weight:bold;cursor:pointer;}

.tipinfo {
color:#6d838c;
font-size:11px;
padding-right:5px;
}
.sqlbtip {
color:#CC0000;
font-size:13px;
padding-left:60px;
}

.message{
color:#369;
font-size:11px;
padding-right:5px;
}

.helplay { 
border: 1px solid #369; 
padding: 0px; 
background-color: #f9fdfd; 
text-align: left; 
color: #666; 

font-size: 13px; 
font-family: font-family: 宋体; font-size: 9pt;
} 
	
/*--school--*/
.gb3,.gb4{height:23px; color:#000; background:#e5e5e5; padding:3px; border-left:1px solid #fff; border-top:1px solid #fff; border-right:1px solid #6a6a6a; border-bottom:1px solid #6a6a6a; cursor:pointer;}
.gb4{background:#ddd;}
	
	
	
	
	
	
	
	
	
	
	
	
	