/*container*/
#ym-window{
	background:#fff;overflow:hidden;border:1px solid #ccc;
	font-size:12px;font-family:'宋体';
	filter:progid:DXImageTransform.Microsoft.Shadow(Color=#ff666666, Strength=5, Direction=135);
}

/*header*/
.ym-tl{padding-left:3px;}
.ym-tr{padding-right:3px;}
.ym-tc{overflow:hidden;height:25px;line-height:25px;}
.ym-header-text{font-size:12px;color:#ccc;margin-left:10px;float:left;margin-top:5px}
.ym_header {font-size: 18px;font-weight: normal;line-height: 24px;padding-bottom: 5px;padding-top:15px;}
.ym-header-tools{float:right;margin-top:8px;margin-right:5px;}

/*body*/
.ym-ml{padding-left:3px;}
.ym-mr{padding-right:3px;}
.ym-mc{padding:0 15px 0 0}
.ym-body{overflow:hidden;padding:0;font-size:12px;}

/*button*/
.ym-btn{text-align:right;padding:0 20px 15px;}

/*footer*/
.ym-bl{padding-left:3px}
.ym-br{padding-right:3px}
.ym-bc{height:3px;font-size:3px}

/*icon*/
.ymPrompt_alert{
	padding-left:85px;
	background:url(alert.png) no-repeat 23px 20px
}
.ymPrompt_succeed{
	padding-left:85px;
	background:url(ok.png) no-repeat 23px 20px
}
.ymPrompt_error{
	padding-left:85px;
	background:url(error.png) no-repeat 23px 20px;
	color:#E80000;
}
.ymPrompt_confirm{
	padding-left:85px;
	background:url(alert.png) no-repeat 23px 20px
}
.ymPrompt_alert .ym-content,.ymPrompt_succeed .ym-content,.ymPrompt_error .ym-content,.ymPrompt_confirm .ym-content{padding:0}

.ymPrompt_close{
	cursor:pointer;
	background:#c0c0c0 url(close.png) no-repeat center center;
	width:15px;
	height:15px;
	border:1px solid #aaa;
	border-radius:2px;
}

.ymPrompt_close:hover
{
	background-color:#999;
}

/*取消、确认按钮样式*/
input.btnStyle{
	background:url(/images/bz/wsbm/ymPromptMessage/btn_bg.gif) no-repeat;
	width:80px;height:21px;line-height:21px;
	font-size:12px;color:#183C94;border:0;margin:10px 0
}